<div class="stock-header">
  <div class="stock-info">
    <img src="logo.png" alt="Logo" class="logo">
    <div>
      <h1>Акция СОЛЛЕРС</h1>
      <p>SVAV</p>
    </div>
  </div>
  <div class="stock-stats">
    <div class =  "money__value">
      <p>Доходность за год</p>
      <p>65,06 %</p>
    </div>
    <div class="price">
      <p>Стоимость</p>
      <p>1 041,5 ₽</p>
    </div>
    <button>Купить</button>
  </div>
</div>
<div class="graf" style="display: block; width: 60%; margin: auto">
  <canvas baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="'line'">
  </canvas>
</div>
