<div class="stock-header">
  <div class="stock-info">
    <img src="logo.png" alt="Logo" class="logo">
    <div *ngIf="stockDetails$ | async as stockDetails">
      <h1>{{ stockDetails.name }}</h1>
      <p>{{ stockDetails.symbol }}</p>
    </div>
  </div>
  <div class="stock-stats">
    <div class="price" *ngIf="latestStockPrice$ | async as latestStockPrice">
      <p>Стоимость</p>
      <p>{{ latestStockPrice }}</p>
    </div>
    <button>Купить</button>
  </div>
</div>
<div class="graf" style="display: block; width: 60%; margin: auto">
  <canvas baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="'line'">
  </canvas>
</div>
<ng-container *ngIf="loading$ | async">
  <app-loading-spinner></app-loading-spinner>
</ng-container>
<ng-container *ngIf="error$ | async as error">
  <app-error-message [error]="error"></app-error-message>
</ng-container>
